<h1>About Juitt</h1>
<p>
  We believe that people want to find the best movies catered by the ones they care about most. You shouldn't work hard in order to consume good movies nor you need to search the entire Internet in order to find from where to get the movie you want to watch. That is why we created the Juitt. The ultimate place that allows you to follow the people you care about and download good movies they recommended by just doing one click. 
</p>