<h1>Help</h1>
<h4>How it works</h4>
<ol>
	<li>Create your free account</li>
	<li>Follow the people that have your same taste in movies</li>
	<li>When you download a good movie, you can post the link on Juitt, and let your followers enjoy too</li>
</ol>
